<div class="z-3 position-fixed">
  <div class="row">
      <div class="p-4" id="page-content-wrapper" style="overflow-x: hidden;" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" 
      (mouseenter)="toggleCollapse(isCollapsed)">
        <button #hamburger type="button" class="hamburger animated fadeInLeft is-closed">
          <span class="hamb-top bg-white"></span>
          <span class="hamb-middle bg-white"></span>
          <span class="hamb-bottom bg-white"></span>
        </button>
  </div>  
</div>

<div class="col" style="margin-top: -8.6vh;">
<div class="collapse collapse-horizontal z-2" style="transition: width 0.5s ease-in-out;position: fixed;" id="collapseWidthExample">
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark pt-5"
  style="height: 120vh; width: 40vh; overflow-y: auto; margin-left: -20px;">
  <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi me-2" width="40" height="32">
      <use xlink:href="#bootstrap" />
    </svg>
    <!-- <span class="fs-4 text-xl-center">Hotel Management System</span> -->
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto" style="font-size: larger;">
    <li class="nav-item">
      <a class="{{isHomeActive}}  nav-link text-white" [routerLink]="['/dashboard-pages']" (click)="navHomeBtnActive()">
        <i class="mx-3 mt-3 fas fa-house-chimney-user">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#home" />
          </svg>
        </i>
        Home
      </a>
    </li>
    <li>
      <a class="{{isBillingActive}} nav-link text-white" [routerLink]="['billing']" (click)="navBillingBtnActive()">
        <i class="mx-3 mt-3  fas fa-receipt">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#speedometer2" />
          </svg>
        </i>
        Billings
      </a>
    </li>
    <li>
      <a class="{{isBookingActive}} nav-link text-white" [routerLink]="['booking']" (click)="navBookingBtnActive()">
        <i class="mx-3 mt-3 fa fa-calendar-days">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#speedometer2" />
          </svg>
        </i>
        Bookings
      </a>
    </li>
    <li>
      <a class="{{isRoomActive}} nav-link text-white" [routerLink]="['room']" (click)="navRoomBtnActive()">
        <i class="mx-3 mt-3  fas fa-bed">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#speedometer2" />
          </svg>
        </i>
        Room
      </a>
    </li>
    <li>
      <a class="nav-link {{isCustomerActive}} text-white" [routerLink]="['customer']" (click)="navCustomerBtnActive()">
        <i class="mx-3 mt-3  fas fa-users">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#speedometer2" />
          </svg>
        </i>
        Customer
      </a>
    </li>
    <li>
      <a class="nav-link {{isReportActive}} text-white" [routerLink]="['report']" (click)="navReportBtnActive()">
        <i class="mx-3 mt-3  fa fa-chart-pie">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#speedometer2" />
          </svg>
        </i>
        Report
      </a>
    </li>
    <br><br><br>
    <hr>   
    <li class="p-3">
      <a class="nav-link text-white" [routerLink]="['']">
        <i class="fas fa-arrow-right-from-bracket">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#speedometer2" />
          </svg>
        </i>
        Sign Out
      </a>
    </li>
  </ul>
</div>
</div>
</div>
