<div class="container">
    <div class="card text-center bg-dark text-light" style="margin: 0 auto; width: 60vh;margin-top: 20vh;">
        <div class="card-header h5 text-white bg-primary">Password Reset</div>
        <div class="card-body px-5">
            <p class="card-text py-2">
                Enter your email address and we'll send you an email with instructions to reset your password.
            </p>
            <div class="form-outline">
                <input type="email" id="typeEmail" placeholder="example@gmail.com" [(ngModel)]="email" class="form-control my-3" />
            </div>

            <div id="spinner" class="d-none text-center z-3">
                <div class="spinner-border text-primary" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>    

            <div class="hstack gap-3">
                <div class="p-2"></div>
                <div class="p-2 ms-auto"></div>
                <!-- <div class="vr"></div> -->
                <div class="p-2"><div class="btn btn-primary" (click)="btnResetPasswordForm(email)">Send OTP</div></div>
              </div>
            <div class="d-flex justify-content-between">
                <div class="btn btn-link" (click)="btnBackToLogin()"> back to Login</div>
            </div>
        </div>
    </div>
    
</div>